ul {
  background-color: rgb(255,8,8);
  color: white;
  font-size: 20px;
  border-radius: 15px;
}

body {
  background-color: rgba(252,112,0,0.902);
}

h1 {
  color: black;
  font-size: 30px;
  background-color: rgb(249,255,46);
  border-radius: 5px;
}

P {
  color: black;
  font-size: 12px;
}

h3 {
  color: black;
}